.header {
    // header-menu 左側選單
    &-main {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: $primary;
        z-index: 99999;
        transform: translateX(-100%);
        transition: all 0.5s 0.2s;
        &.active {
            transform: translateX(0%);
            .header-burger {
                @include bg(menu/btn_burger_close, png);
                position: absolute;
                width: 60px;
                height: 60px;
                background-size: contain;
                &:hover {
                    @include bg(menu/btn_burger_close_h, png);
                }
            }
        }
        &-box {
            position: relative;
            width: 100%;
            height: 100vh;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -28px;
            width: 40px;
            height: 100vh;
            @include bg(menu/bg_menuSide, png, left 10px, center, no-repeat, 20px);
        }
    }
    &-burger {
        position: absolute;
        transition: all 0.5s 0.2s;
        top: 45%;
        right: -74px;
        width: 60px;
        height: 60px;
        @include cursor;
        @include bg(menu/btn_burger_open, png, center, center, no-repeat, contain);
        &:hover {
            @include bg(menu/btn_burger_open_h, png, center, center, no-repeat, contain);
        }
    }
    // header-top 小logo+登入
    &-top {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 20px 40px;
        z-index: 99990;
        @include flex($jc: space-between);
        .logo-s {
            width: 13%;
            opacity: 0;
        }
        .member {
            width: 50px;
            height: 50px;
            @include bg(btn_user, png);
            &:hover {
                @include bg(btn_user_h, png);
            }
            &:active {
                @include bg(btn_user_p, png);
            }
        }
        .logo {
            max-width: 140px;
            margin: 0;
            height: 100%;
            display: none;
        }
    }
}

.mobile-menu {
    margin: 40px 0 0 15px;
    transition: all 0.5s;
    height: 100%;
    @include flex($ai: center, $flex-d: column);
    &-item {
        margin-bottom: 40px;
        text-align: center;
        color: $secondary;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: normal;
        line-height: 28.8px;
        padding: 0 5px;
        @include flex($ai: center, $flex-d: column);
        img {
            max-width: 60px;
            width: 100%;
            margin-bottom: 4px;
        }
        &:hover {
            img {
                filter: brightness(1.2);
            }
        }
    }
}

@include pad {
    .header {
        &-main{
            &.active {
                .header-burger {
                    width: 40px;
                    height: 40px;
                }
            }
            &::after{
                display: none;
            }
        }
        &-top {
            background-color: $secondary;
            padding: 10px 20px;
            @include flex(center, space-between);
            .logo {
                display: block;
                margin-right: 12px;
            }
            .logo-s {
                opacity: 0;
            }
            .member {
                width: 40px;
                height: 40px;
            }
        }
        &-burger {
            top: 2%;
            right: -38px;
            width: 40px;
            height: 40px;
            z-index: 99991;
        }
    }
    .mobile-menu{
        margin: 40px 10px 0 10px;
    }
}

.footer {
    position: fixed;
    width: 100%;
    height: 20%;
    z-index: 99990;
    right: 0;
    bottom: 0;
    &-join {
        position: absolute;
        right: 0;
        bottom: 20px;
        &-txt {
            text-align: center;
            color: $primary;
            font-size: $h5;
        }
    }
}
